In [1]:
import numpy as np
import matplotlib.pyplot as pp
import seaborn

In [2]:
%matplotlib inline

In [3]:
# import urllib.request
# urllib.request.urlretrieve('ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt','stations.txt')

In [4]:
open('stations.txt','r').readlines()[:10]

['ACW00011604  17.1167  -61.7833   10.1    ST JOHNS COOLIDGE FLD                       \n',
 'ACW00011647  17.1333  -61.7833   19.2    ST JOHNS                                    \n',
 'AE000041196  25.3330   55.5170   34.0    SHARJAH INTER. AIRP            GSN     41196\n',
 'AEM00041194  25.2550   55.3640   10.4    DUBAI INTL                             41194\n',
 'AEM00041217  24.4330   54.6510   26.8    ABU DHABI INTL                         41217\n',
 'AEM00041218  24.2620   55.6090  264.9    AL AIN INTL                            41218\n',
 'AF000040930  35.3170   69.0170 3366.0    NORTH-SALANG                   GSN     40930\n',
 'AFM00040938  34.2100   62.2280  977.2    HERAT                                  40938\n',
 'AFM00040948  34.5660   69.2120 1791.3    KABUL INTL                             40948\n',
 'AFM00040990  31.5000   65.8500 1010.0    KANDAHAR AIRPORT                       40990\n']

In [5]:
stations = {}

for line in open('stations.txt','r'):
    if 'GSN' in line:
        fields = line.split()
        
        stations[fields[0]] = ' '.join(fields[4:])

In [6]:
len(stations)

994

In [7]:
def findstation(s):
    found = {code: name for code,name in stations.items() if s in name}
    print(found)

In [8]:
findstation('LIHUE')

{'USW00022536': 'HI LIHUE WSO AP 1020.1 GSN 91165'}

In [9]:
findstation('SAN DIEGO')

{'USW00023188': 'CA SAN DIEGO LINDBERGH FLD GSN 72290'}

In [10]:
findstation('MINNEAPOLIS')

{'USW00014922': 'MN MINNEAPOLIS/ST PAUL AP GSN HCN 72658'}

In [11]:
findstation('IRKUTSK')

{'RSM00030710': 'IRKUTSK GSN 30710'}

In [12]:
datastations = ['USW00022536','USW00023188','USW00014922','RSM00030710']

In [13]:
open('USW00023188.dly', 'r').readlines()[:10]

['USW00023188193907TMAX  244  0  233  0  217  0  217  0  222  0  222  0  239  0  239  0  244  0  244  0  267  0  261  0  228  0  233  0  217  0  211  0  206  0  222  0  233  0  233  0  250  0  244  0  244  0  256  0  261  0  256  0  239  0  250  0  239  0  244  0  244  0\n',
 'USW00023188193907TMIN  172  0  183  0  167  0  172  0  178  0  183  0  161  0  172  0  183  0  183  0  172  0  178  0  172  0  167  0  156  0  150  0  156  0  167  0  156  0  189  0  172  0  178  0  178  0  183  0  194  0  178  0  178  0  172  0  183  0  183  0  189  0\n',
 'USW00023188193907PRCP    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0T 0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0\n',
 'USW00023188193907SNOW    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0\n',
 'USW00023188193907SNWD    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0\n',
 'USW00023188193907WT01-9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999       1  0-9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   \n',
 'USW00023188193908TMAX  239  0  256  0  278  0  261  0  256  0  239  0  239  0  233  0  233  0  228  0  239  0  250  0  228  0  244  0  239  0  233  0  261  0  250  0  250  0  239  0  239  0  250  0  256  0  250  0  289  0  272  0  261  0  267  0  261  0  278  0  278  0\n',
 'USW00023188193908TMIN  183  0  183  0  194  0  183  0  189  0  183  0  178  0  183  0  183  0  183  0  178  0  183  0  178  0  178  0  178  0  178  0  178  0  194  0  183  0  194  0  183  0  178  0  189  0  178  0  189  0  189  0  183  0  183  0  189  0  156  0  156  0\n',
 'USW00023188193908PRCP    0  0    0T 0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0T 0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0\n',
 'USW00023188193908SNOW    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0\n']

In [14]:
open('readme.txt','r').readlines()[98:121]

['------------------------------\n',
 'Variable   Columns   Type\n',
 '------------------------------\n',
 'ID            1-11   Character\n',
 'YEAR         12-15   Integer\n',
 'MONTH        16-17   Integer\n',
 'ELEMENT      18-21   Character\n',
 'VALUE1       22-26   Integer\n',
 'MFLAG1       27-27   Character\n',
 'QFLAG1       28-28   Character\n',
 'SFLAG1       29-29   Character\n',
 'VALUE2       30-34   Integer\n',
 'MFLAG2       35-35   Character\n',
 'QFLAG2       36-36   Character\n',
 'SFLAG2       37-37   Character\n',
 '  .           .          .\n',
 '  .           .          .\n',
 '  .           .          .\n',
 'VALUE31    262-266   Integer\n',
 'MFLAG31    267-267   Character\n',
 'QFLAG31    268-268   Character\n',
 'SFLAG31    269-269   Character\n',
 '------------------------------\n']

In [15]:
def parsefile(filename):
    return np.genfromtxt(filename,
                         delimiter = dly_delimiter,
                         usecols = dly_usecols,
                         dtype = dly_dtype,
                         names = dly_names)
# The result returned will be a Numpy record array.
dly_delimiter = [11,4,2,4] + [5,1,1,1] * 31
dly_usecols = [1,2,3] + [4*i for i in range(1,32)]
dly_dtype = [np.int32,np.int32,(np.str_,4)] + [np.int32] * 31
dly_names = ['year','month','obs'] + [str(day) for day in range(1,31+1)]

In [16]:
someData = parsefile('USW00022536.dly')
someData

array([ (1950, 2, 'TMAX',   256,   256,   256,   267,   217,   228,   256,   272,   256,   256,   256,   244,   256,   256,   244,   244,   250,   256,   239,   250,   256,   256,   267,   261,   267,   267,   261,   261, -9999, -9999, -9999),
       (1950, 2, 'TMIN',   178,   156,   161,   167,   167,   167,   189,   211,   206,   217,   217,   211,   200,   200,   206,   183,   206,   206,   206,   194,   206,   200,   206,   200,   211,   183,   172,   200, -9999, -9999, -9999),
       (1950, 2, 'PRCP',     0,     0,     0,     0,   737,   406,    36,    38,     0,     0,     0,     0,    18,     5,    10,    18,    15,     5,     0,     0,    23,    10,     3,    48,     0,     0,     0,     5, -9999, -9999, -9999),
       ...,
       (2015, 9, 'WT03', -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999,     1, -9999,     1, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999),
       (2015, 9, 'WT08', -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999,     1, -9999, -9999, -9999,     1, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999,     1,     1, -9999, -9999, -9999, -9999, -9999, -9999),
       (2015, 9, 'WT10', -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999,     1, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999)],
      dtype=[('year', '<i4'), ('month', '<i4'), ('obs', '<U4'), ('1', '<i4'), ('2', '<i4'), ('3', '<i4'), ('4', '<i4'), ('5', '<i4'), ('6', '<i4'), ('7', '<i4'), ('8', '<i4'), ('9', '<i4'), ('10', '<i4'), ('11', '<i4'), ('12', '<i4'), ('13', '<i4'), ('14', '<i4'), ('15', '<i4'), ('16', '<i4'), ('17', '<i4'), ('18', '<i4'), ('19', '<i4'), ('20', '<i4'), ('21', '<i4'), ('22', '<i4'), ('23', '<i4'), ('24', '<i4'), ('25', '<i4'), ('26', '<i4'), ('27', '<i4'), ('28', '<i4'), ('29', '<i4'), ('30', '<i4'), ('31', '<i4')])

In [32]:
def unroll(record):
    startDate = np.datetime64('{}-{:02}'.format(record['year'], record['month'])) # Fetching the startDate of the record supplied in the specified format.
    dates = np.arange(startDate, startDate+np.timedelta64(1, 'M'), np.timedelta64(1, 'D')) # Now getting the range of all the dates for that month in the step of a day.
    rows = [(date, record[str(i+1)]/10) for i, date in enumerate(dates)] # returning the date and the corresponding temperature data that day.
    return np.array(rows, dtype=[('date', '>M8[D]'), ('value', 'd')])

unroll(someData[0])

array([('1950-02-01',  25.6), ('1950-02-02',  25.6), ('1950-02-03',  25.6),
       ('1950-02-04',  26.7), ('1950-02-05',  21.7), ('1950-02-06',  22.8),
       ('1950-02-07',  25.6), ('1950-02-08',  27.2), ('1950-02-09',  25.6),
       ('1950-02-10',  25.6), ('1950-02-11',  25.6), ('1950-02-12',  24.4),
       ('1950-02-13',  25.6), ('1950-02-14',  25.6), ('1950-02-15',  24.4),
       ('1950-02-16',  24.4), ('1950-02-17',  25. ), ('1950-02-18',  25.6),
       ('1950-02-19',  23.9), ('1950-02-20',  25. ), ('1950-02-21',  25.6),
       ('1950-02-22',  25.6), ('1950-02-23',  26.7), ('1950-02-24',  26.1),
       ('1950-02-25',  26.7), ('1950-02-26',  26.7), ('1950-02-27',  26.1),
       ('1950-02-28',  26.1)],
      dtype=[('date', '>M8[D]'), ('value', '<f8')])

In [38]:
def getObs(filename, obs):
    return np.concatenate([unroll(row) for row in parsefile(filename) if obs in row])

getObs("USW00022536.dly", 1955)

array([('1955-01-01',   25.6), ('1955-01-02',   26.7),
       ('1955-01-03',   26.1), ..., ('2001-07-29',   75. ),
       ('2001-07-30',  195.5), ('2001-07-31',   15.4)],
      dtype=[('date', '>M8[D]'), ('value', '<f8')])